@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    margin: auto;
    background-color: white;
    width: 75%;
    border: 1px solid black;
}